body{
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: hsl(216, 12%, 8%);
    color: white;
    font-family: "Overpass", sans-serif;
}

/* 1st page */
ul{
    list-style-type: none;
}
.star{
    border: none;
    border-radius: 50%;
    padding: 15px;
    background: hsl(220, 20%, 18%);
}
.rate{
    padding: 20px;
    border: none;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    background: hsl(212, 19%, 14%);
    font-size: 15px;
    font-weight: 500;
}
.rate p{
    color: hsl(217, 12%, 63%);
    font-size: 13px;
    font-weight: 400;
}
.rating-num ul{
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.rating-itm{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: hsl(218, 21%, 22%);
    color: white;
    cursor: pointer;
}
.rating-itm:hover{
    background: hsl(25, 97%, 53%);
    transform: scale(1.05) translateY(-3px);
    transition: all 0.70s ease;
}
.rating-itm:focus{
    background-color: hsl(217, 12%, 63%);
}

#sub-btn{
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 35px;
    color: hsl(25, 97%, 53%);
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-family: inherit;
}
#sub-btn:hover{
    background: hsl(25, 97%, 53%);
    color: white;
    transform: scale(1.05) translateY(-4px);
    transition: all .30s ease;
}

/* 2nd page */
.state{
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    background: hsl(212, 19%, 14%);
    font-size: 15px;
    font-weight: 500;
}

.msg p {
    font-size: 14px;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
    margin-bottom: 5px;
}
.msg h5{
    display: inline-block;
    background: hsl(218, 21%, 22%);
    color: hsl(25, 97%, 53%);
    margin-bottom: 0;
    padding: 4px 15px;
    border: none;
    border-radius: 20px;
}